@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.appContainer {
  height: 100vh;
  margin-left: 0;
  background: colors.$MAIN_BACKGROUND;

  @include responsive.after(MD) {
    margin-left: 280px;
  }
}

.contentContainer {
  height: 100vh;
  padding: 80px;
  overflow-y: scroll;

  @include responsive.after(MD) {
    padding: 50px 100px;
  }
}
