@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.comparisonResultContainer {
  display: flex;
  flex-direction: column;

  @include responsive.after(MD) {
    flex-direction: row;

    &:hover {
      transform: translateY(-10px);
    }
  }
}

.numberContainer {
  display: flex;
  font-size: 40px;
}
