@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.comparisonResultContainer {
  display: flex;
  flex-direction: column;
  transition: all 0.3s;

  &:hover {
    transform: translateY(-10px);
  }

  @include responsive.after(MD) {
    flex-direction: row;

    &:hover {
      transform: translateY(0);
    }
  }
}

.numberContainer {
  display: flex;
  font-size: 40px;
}
