@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.contentContainer {
  height: 100vh;
  padding: 80px;
  overflow-y: scroll;
  background: colors.$KR_JP_BACKGROUND;

  @include responsive.after(MD) {
    padding: 50px 100px;
  }
}
